<package-def>
    <module name="ШаблоныФайловКонфигурации" file="src/Модули/ШаблоныФайловКонфигурации.os"/>
    <module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
    <class name="КомандаКонвертироватьСпецификацию" file="src/Классы/КомандаКонвертироватьСпецификацию.os"/>
    <class name="КонверторСпецификаций" file="src/Классы/КонверторСпецификаций.os"/>
    <class name="ЧитательСпецификации_OAS3" file="src/Классы/ЧитательСпецификации_OAS3.os"/>
    <class name="РучнойСоздательИсходников" file="src/Классы/РучнойСоздательИсходников.os"/>
</package-def>